body {
  font-family: "JetBrains Mono", monospace;
}

#theme-toggle-button {
    background: none;
    border: none;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
