/* Dark-Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: white;
}

/* Links in Dark-Mode */
body.dark-mode a {
  color: #BB86FC;
}

/* Additional Dark-Mode Styling */
body.dark-mode header, body.dark-mode footer {
  background-color: #1f1f1f;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
  color: #E1E1E1;
}
