/* Dark-Mode Styles */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}

/* Links In Dark-Mode */
a {
  color: #1ed4e8;
}

a:hover {
  color: #00d4d4;
}

a:visited {
  color: #006f77;
}

a:active {
  color: #14b6bb;
}

/* Additional Dark-Mode Styling */
header, footer {
  background-color: #1f1f1f;
}

h1, h2, h3, h4, h5, h6 {
  color: #E1E1E1;
}

strong, b {
  color: #ffffff;
}

/* Layout Styles */
/* Flexbox-Based layout */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Sidebar */
aside {
  flex: 1 1 270px;
  padding: 10px;
}

/* Main Content */
section {
  flex: 2;
  padding: 10px;
}

/* Mobile Adjustments */
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }

  aside, section {
    width: 100%;
    flex: none;
  }
}
