/* Dark-Mode Styles */
body {
  background-color: #121212;
}

/* Links In Dark-Mode */
body.dark-mode a {
  color: #1ed4e8;
}

body.dark-mode a:hover {
  color: #00d4d4;
}

body.dark-mode a:visited {
  color: #006f77;
}

body.dark-mode a:active {
  color: #14b6bb;
}

/* Additional Dark-Mode Styling */
body.dark-mode header, body.dark-mode footer {
  background-color: #1f1f1f;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
  color: #E1E1E1;
}

body.dark-mode strong, body.dark-mode b {
  color: #ffffff;
}
