/* Light-Mode Styles */
body {
  background-color: #f1f1f1;
}

/* Links In Light-Mode */
a {
  color: #1ed4e8;
}

a:hover {
  color: #00d4d4;
}

a:visited {
  color: #006f77;
}

a:active {
  color: #14b6bb;
}

/* Additional Light-Mode Styling */
header, footer {
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
  color: #0E0E0E;
}

strong, b {
  color: #000000;
}
