/* Light-Mode Styles */
body {
  background-color: #e5e5e5;
  color: #060708;
}

/* Links In Light-Mode */
body.light-mode a {
  color: #e0463e;
}

body.light-mode a:hover {
  color: #e25750;
}

body.light-mode a:visited {
  color: #eb8984;
}

body.light-mode a:active {
  color: #dd352c;
}

/* Additional Light-Mode Styling */
body.light-mode header, body.light-mode footer {
  background-color: #e5e5e5;
}

body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4, body.light-mode h5, body.light-mode h6 {
  color: #121317;
}

body.light-mode strong, body.light-mode b {
  color: #090a0c;
}

/* Toggle-Button Styling */
body.light-mode #theme-toggle-button {
    color: #333333;
}

body.light-mode #theme-toggle-button:hover {
    color: #57473c;
}
