<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Link to favicon -->
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

  <title>{{ page.title | default: site.title }}</title>
  
  <!-- Include dark-mode CSS file -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dark-mode.css">

  <!-- Include main stylesheet -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

  <!-- Include JavaScript file to enable dark mode -->
  <script src="{{ site.baseurl }}/assets/javascript/enable-dark-mode.js" defer></script>

</head>
<body>
  <!-- Body content goes here -->
  {{ content }}
</body>
</html>
